<div crud-breadcrumbs="show"></div>
<h2>Show ArchitecturalDecision</h2>
<div flash-message ></div>

<table class="table table-bordered table-striped">
    <tr display-field label="Number" value="ctrl.architecturalDecision.adNumber"></tr>
    <tr display-field label="Area" value="ctrl.architecturalDecision.area"></tr>
    <tr display-field label="Name" value="ctrl.architecturalDecision.name"></tr>
    <tr display-field label="Goal" value="ctrl.architecturalDecision.goal"></tr>
    <tr display-field label="Decision" value="ctrl.architecturalDecision.decision"></tr>
    <tr display-field label="Reason" value="ctrl.architecturalDecision.reason"></tr>
    <tr display-field label="Alternatives" value="ctrl.architecturalDecision.alternatives"></tr>
    <tr display-field label="Priority" value="ctrl.architecturalDecision.priority"></tr>
</table>

<div class="form-actions">
    <button crud-button="edit" item="ctrl.architecturalDecision"></button>
    <button crud-button="delete" item="ctrl.architecturalDecision" ></button>
</div>