<div crud-breadcrumbs="show"></div>
<h2>Show QualityGroup</h2>
<div flash-message ></div>

<table class="table table-bordered table-striped">
    <tr display-field label="Code" value="ctrl.qualityGroup.code"></tr>
    <tr display-field label="Characteristic" value="ctrl.qualityGroup.characteristic"></tr>
    <tr display-field label="Sub Characteristic" value="ctrl.qualityGroup.subCharacteristic"></tr>
    <tr display-field label="Definition" value="ctrl.qualityGroup.definition"></tr>
</table>

<div class="form-actions">
    <button crud-button="edit" item="ctrl.qualityGroup"></button>
    <button crud-button="delete" item="ctrl.qualityGroup" ></button>
</div>