<div crud-breadcrumbs="list"></div>

<div class="clearfix">
	<h2 class="pull-left">Requirement List</h2>
	<div class="pull-right"><button crud-button="create" ></button></div>
</div>
<div flash-message ></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-filter"></i> Filter List</h3>
  </div>
  <div class="panel-body">
<div class="row">
<form class="form">
	<div class="form-group col-md-3">
		<label for="filter.review">Review</label>
		<select class="form-control" ng-model="ctrl.filter.reviewId" ng-options="item.id as item.toText for item in ctrl.reviewList" ng-model-options="{ debounce: 300 }"  ><option value="">-- Select Review--</option></select>
    </div>
	<div class="form-group col-md-3">
		<label for="filter.reqNumber">Req Number</label>
		<input type="text" class='form-control' ng-model="ctrl.filter.reqNumber" ng-model-options="{ debounce: 300 }"  />
    </div>
	<div class="form-group col-md-3">
		<label for="filter.qualityGroup">Quality Group</label>
		<select class="form-control" ng-model="ctrl.filter.qualityGroupId" ng-options="item.id as item.toText for item in ctrl.qualityGroupList" ng-model-options="{ debounce: 300 }"  ><option value="">-- Select Quality Group--</option></select>
    </div>
	<div class="form-group col-md-3">
		<label for="filter.name">Name</label>
		<input type="text" class='form-control' ng-model="ctrl.filter.name" ng-model-options="{ debounce: 300 }"  />
    </div>
</form>
</div>
  </div>
</div>

<table id="list" class="table table-striped table-bordered table-hover">

    <thead sort-header ng-model="ctrl.sort" on-sort="ctrl.reload()">
        <th sortable-column title="Id" property="id"></th>
		<th sortable-column title="Review" property="review"></th>
		<th sortable-column title="Req Number" property="reqNumber"></th>
		<th sortable-column title="Quality Group" property="qualityGroup"></th>
		<th sortable-column title="Name" property="name"></th>
		<th>action<th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
        <tr class="animate-repeat" ng-repeat="item in ctrl.requirementList">
            <td><a href="#/show/{{item.id}}">{{item.id}}</a></td>
			<td><a href="review#/show/{{item.review.id}}">{{ item.review.toText }}</a></td>
			<td>{{ item.reqNumber }}</td>
			<td><a href="qualityGroup#/show/{{item.qualityGroup.id}}">{{ item.qualityGroup.toText }}</a></td>
			<td>{{ item.name }}</td>
            <td>
                <button crud-button="edit" item="item" ></button>
            </td>
            <td>
                <button crud-button="delete" item="item" after-action="ctrl.reload()"></button>
            </td>
        </tr>
    </tbody>
</table>

<div pagination total-items="ctrl.requirementList.getTotalCount()" items-per-page="ctrl.pageSize" ng-model="ctrl.page" ng-change="ctrl.load()"></div>
