<div crud-breadcrumbs="show"></div>
<h2>Show Scenario</h2>
<div flash-message ></div>

<table class="table table-bordered table-striped">
    <tr display-field label="Requirement" value="ctrl.scenario.requirement.toText"></tr>
    <tr display-field label="Scenario Nr" value="ctrl.scenario.scenarioNr"></tr>
    <tr display-field label="Scenario" value="ctrl.scenario.scenario"></tr>
</table>

<div class="form-actions">
    <button crud-button="edit" item="ctrl.scenario"></button>
    <button crud-button="delete" item="ctrl.scenario" ></button>
</div>